.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: transparent;
  border: 1px solid;
  padding: 11px 14px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transition: border-color $transition-default, background-color $transition-default, color $transition-default, box-shadow $transition-default;
  
  &--round {
	border-radius: 8px;
  }
  
  &__icon {
	display: block;
	width: 18px;
	height: 18px;
	transition: transform $transition-default;
	
	&--red {
	}
	
	&--green {
	}
	
	&--blue {
	}
  }
  
  &--outline-hover-red {
	background-color: $color-bg2;
	border-color: $color-border;
	color: #E74B4D;
	
	&:hover,
	&:focus,
	&.button--active {
	  background-color: #E74B4D;
	  border-color: #E74B4D;
	  color: #fff;
	}
  }
  
  &--outline-red {
	border-color: #E74B4D;
	color: #E74B4D;
	
	&:hover,
	&:focus,
	&.button--active {
	  background-color: #E74B4D;
	  color: #fff;
	}
  }
  
  &--outline-hover-green {
	background-color: $color-bg2;
	border-color: $color-border;
	color: #3BC363;
	
	&:hover,
	&:focus,
	&.button--active {
	  background-color: #3BC363;
	  border-color: #3BC363;
	  color: #fff;
	}
  }
  
  &--outline-hover-blue,
  &--outline-hover-blue2 {
	background-color: $color-bg2;
	border-color: $color-border;
	color: $color-text1;
	
	&:hover,
	&:focus,
	&.button--active {
	  background-color: #4259E9;
	  border-color: #4259E9;
	  color: #fff;
	}
  }
  
  &--outline-hover-blue2 {
	color: #4259E9;
  }
  
  &--outline-blue {
	border-color: #4259E9;
	color: #4259E9;
	
	&:hover,
	&:focus,
	&.button--active {
	  background-color: #4259E9;
	  color: #fff;
	}
  }
  
  &--blue {
	background-color: #4259E9;
	border-color: #4259E9;
	color: #fff;
	
	&:hover {
	  background-color: #243A59;
	  border-color: #243A59;
	}
  }
  
  &--icon {
	padding: 10px;
	aspect-ratio: 1;
	
	&.button--sm {
	  padding: 7px;
	}
	
	&.button--xs {
	  padding: 3px;
	}
  }
  
  &--sm {
	padding: 7px 11px;
  }
}