.card {
  .view-list & {
	display: grid;
	grid-template: auto / minmax(0,2fr) minmax(0, 1fr);
  }
  
  .view-grid & {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border: 1px solid $color-border;
	border-radius: 8px;
  }
  
  &__main-box {
	.view-list & {
	  display: grid;
	  grid-template: auto / repeat(2,minmax(0,1fr));
	  padding: 16px 0;
	  border: 1px solid $color-border;
	  border-radius: 8px;
	}
	
	.view-grid & {
	  flex-grow: 1;
	  display: flex;
	  flex-direction: column;
	}
  }
  
  &__main-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	.view-list & {
	  padding: 0 16px;
	}
	
	.view-grid & {
	  padding-bottom: 20px;
	}
  }
  
  &__main-top {
	display: flex;
	
	.view-list & {
	  align-items: center;
	}
	
	.view-grid & {
	  flex-direction: column;
	  margin-bottom: 6px;
	}
  }
  
  &__main-checkbox-wrap {
	color: $color-text2;
	
	.card--green & {
	  color: #3BC363;
	}
	
	.card--orange & {
	  color: #F89445;
	}
	
	.card--red & {
	  color: #E74B4D;
	}
	
	.view-grid & {
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
	  gap: 8px;
	  margin-bottom: 8px;
	  padding: 12px 16px;
	  border-radius: 4px;
	}
	
	.view-list & {
	  background-color: transparent !important;
	}
  }
  
  &__main-status {
	display: none;
	font-size: 14px;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	
	.view-grid & {
	  display: block;
	}
  }
  
  &__main-checkbox {
	flex-shrink: 0;
	
	.checkbox__text {
	  padding-left: 14px;
	}
	
	.view-list & {
	  margin-right: 6px;
	}
  }
  
  &__main-label-group {
	.view-grid & {
	  padding-top: 18px;
	  border-top: 1px solid $color-border;
	}
  }
  
  &__main-link {
	margin-top: auto;
  }
  
  &__main-link-text {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.2;
  }
  
  &__main-link-value {
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	text-decoration: underline;
	
	&:hover {
	  text-decoration: none;
	}
  }
  
  &__text-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	line-height: 1.2;
	color: $color-text2;
	
	.view-list & {
	  padding: 0 16px;
	  border-left: 1px solid $color-border;
	}
	
	.view-grid & {
	  flex-grow: 1;
	  padding: 20px 0;
	  border-top: 1px solid $color-border;
	}
  }
  
  &__text {
	display: flex;
	flex-direction: column;
	gap: 8px;
	
	&:not(:last-child) {
	  margin-bottom: 8px;
	}
  }
  
  &__text-row {
	display: flex;
	justify-content: space-between;
  }
  
  &__text-title {
  }
  
  &__text-value {
	text-align: right;
  }
  
  &__text-fragment {
  }
  
  &__text-fragment-title {
	margin-bottom: 4px;
  }
  
  &__text-fragment-text {
	font-size: 10px;
	line-height: 1.2;
  }
  
  &__action-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	text-align: center;
	
	.view-list & {
	  padding: 16px;
	  border-radius: 8px;
	  border: 1px solid $color-border;
	}
	
	.view-grid & {
	  padding-top: 20px;
	  border-top: 1px solid $color-border;
	  background-color: transparent !important;
	}
  }
  
  &__action-status {
	font-size: 12px;
	line-height: 1.2;
	color: $color-text2;
	
	.view-grid & {
	  display: none;
	}
	
	.card--green & {
	  color: #3BC363;
	}
	
	.card--orange & {
	  color: #F89445;
	}
	
	.card--red & {
	  color: #E74B4D;
	}
  }
  
  &__action-btn-row {
	display: flex;
	gap: 4px;
	width: 100%;
  }
  
  &__action-btn {
	flex-grow: 1;
  }
  
  &__action-screenshot-link {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	font-size: 12px;
	line-height: 1.2;
	text-decoration: underline;
	color: #4259E9;
	
	&:hover {
	  text-decoration: none;
	}
  }
  
  &__action-screenshot-icon {
	display: block;
	width: 14px;
	height: 12px;
  }
}

// theme
.theme-light {
  .view-grid .card {
	background-color: #F7F7FA;
  }
  
  .view-list .card__main-box {
	background-color: #F7F7FA;
  }
  
  .view-list .card__action-box {
	background-color: #F7F7FA;
  }
  
  .view-grid .card__action-box {
	background-color: transparent;
  }
  
  .card--green .card__action-box {
	background-color: #F1F7F2;
  }
  
  .card--orange .card__action-box {
	background-color: #FFF8E8;
  }
  
  .card--red .card__action-box {
	background-color: #FFE4E9;
  }
  
  .card .card__main-checkbox-wrap {
	background-color: #E2E8FF;
  }
  
  .card--green .card__main-checkbox-wrap {
	background-color: #F1F7F2;
  }
  
  .card--orange .card__main-checkbox-wrap {
	background-color: #FFF8E8;
  }
  
  .card--red .card__main-checkbox-wrap {
	background-color: #FFE4E9;
  }
}

.theme-dark {
  .view-grid .card {
	background-color: #2D2D2D;
  }
  
  .view-list .card__main-box {
	background-color: #2D2D2D;
  }
  
  .view-list .card__action-box {
	background-color: #2D2D2D;
  }
  
  
  .card .card__main-checkbox-wrap {
	background-color: #3D3852;
  }
  
  .card--green .card__main-checkbox-wrap {
	background-color: #3e4f41;
  }
  
  .card--orange .card__main-checkbox-wrap {
	background-color: #454138;
  }
  
  .card--red .card__main-checkbox-wrap {
	background-color: #503131;
  }
}