.data-table {
  &__content {
	margin-top: 2px;
	padding: 24px;
	border-radius: 8px;
	background-color: $color-bg2;
  }
  
  &__cards-list {
	margin-bottom: 16px;
	
	.view-list & {
	  display: flex;
	  flex-direction: column;
	  gap: 8px;
	}
	
	.view-grid & {
	  display: grid;
	  grid-template: auto / repeat(3, minmax(0,1fr));
	  grid-gap: 24px;
	}
	
	.view-table & {
	  display: none;
	}
  }
  
  &__table {
	display: none;
	margin-bottom: 16px;
	
	.view-table & {
	  display: table;
	}
  }
}