.data-card {
  background-color: $color-bg2;
  padding: 12px 16px;
  border-radius: 8px;
  
  &__top {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	margin-bottom: 10px;
  }
  
  &__title {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
  }
  
  &__title-icon {
	display: block;
	width: 24px;
	height: 24px;
	color: #F89445;
  }
  
  &__nav {
	display: flex;
	gap: 8px;
  }
  
  &__btn {
	flex-shrink: 0;
  }
  
  &__content-box {
	& > * {
	  width: 100%;
	}
  }
  
  &__list {
	display: flex;
	flex-direction: column;
	gap: 4px;
  }
  
  &__row {
	display: flex;
	align-items: center;
	gap: 8px;
	min-height: 38px;
	padding: 7px 10px;
	border: 1px solid $color-border;
	border-radius: 4px;
  }
  
  &__type {
	flex-shrink: 0;
	max-width: 180px;
	font-size: 12px;
	line-height: 1.2;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  }
  
  &__link {
	flex-grow: 1;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  }
  
  &__action-box {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 8px;
  }
  
  &__status-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
  }
  
  &__status {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	font-size: 12px;
	line-height: 1.2;
  }
  
  &__status-icon {
	flex-shrink: 0;
	display: block;
	width: 16px;
	height: 16px;
  }
  
  &__action-btn {
	flex-shrink: 0;
  }
  
  &__time {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	font-size: 10px;
	line-height: 1.2;
	color: $color-text2;
  }
  
  &__time-icon {
	display: block;
	width: 12px;
	height: 12px;
  }
}