.form-group {
  display: inline-block;
  
  &__title-box {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	gap: 12px;
	width: 100%;
	margin-bottom: 8px;
  }
  
  &__title {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	
	.form-group__title-box & {
	  margin-bottom: 0;
	}
  }
  
  &__reset-btn {
	display: inline-flex;
	align-items: center;
	gap: 2px;
	font-size: 12px;
	line-height: 1.2;
	color: $color-text2;
	border: none;
	background-color: transparent;
	transition: color $transition-default;
	
	&:hover {
	  color: #E74B4D;
	}
  }
  
  &__reset-icon {
	display: block;
	width: 16px;
	height: 16px;
  }
  
  &__note {
	display: block;
	margin-top: 6px;
	font-size: 12px;
	line-height: 1.2;
	color: $color-text2;
	
	.form-group--error & {
	  color: #E74B4D;
	}
  }
  
  &__input-box {
	position: relative;
  }
  
  &__input {
	display: block;
	width: 100%;
	min-width: unset;
	padding: 10px 16px;
	border: 1px solid;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1;
	color: $color-text1;
	transition: border-color $transition-default;
	resize: none;
	
	&::placeholder {
	  color: $color-text2;
	}
	
	&:hover {
	  border-color: $color-border !important;
	}
	
	&:focus {
	  border-color: $color-text2 !important;
	  outline: none;
	}
	
	&--sm {
	  padding-top: 7px;
	  padding-bottom: 7px;
	  font-size: 12px;
	}
	
	&--transparent {
	  background-color: transparent !important;
	}
	
	.form-group--action & {
	  padding-right: 32px;
	}
	
	.form-group--search & {
	  padding-left: 32px;
	}
  }
  
  &__action-btn {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 100%;
	padding: 0;
	border: none;
	background-color: transparent;
	color: $color-text2;
	transition: color $transition-default;
	
	&:hover {
	  color: $color-text1;
	}
	
	.form-group--complete & {
	  color: #3BC363;
	}
	
	.form-group--error & {
	  color: #E74B4D;
	}
	
	.form-group--search & {
	  left: 0;
	  right: unset;
	}
  }
  
  &__action-icon {
	display: block;
	width: 16px;
	height: 16px;
  }
  
  &__radio-row {
	display: flex;
	gap: 8px;
  }
  
  &__radio {
  }
  
  &__radio-input {
	display: none;
  }
  
  &__radio-text {
	display: block;
	padding: 9px 12px;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	color: $color-text2;
	white-space: nowrap;
	border-radius: 4px;
	border: 1px solid #E2E7F0;
	cursor: pointer;
	user-select: none;
	transition: color $transition-default, background-color $transition-default, border-color $transition-default;
	
	.form-group__radio-input:checked + & {
	  color: #4259E9;
	}
  }
  
  &__label-group {
	margin-top: 8px;
  }
}

// theme
.theme-light {
  .form-group {
	&__input {
	  border-color: #E2E2F0;
	  background-color: #F4F5FC;
	}
	
	&.form-group--complete .form-group__input {
	  background-color: #F1F7F2;
	}
	
	&.form-group--error .form-group__input {
	  background-color: #FFE4E9;
	  border-color: #E74B4D;
	}
	
	&__radio-text {
	  border: 1px solid #E2E7F0;
	  
	  &:hover {
		border-color: #B7C6FA;
	  }
	}
	
	.form-group__radio-input:checked + .form-group__radio-text {
	  background-color: #E2E8FF;
	  border-color: #B7C6FA;
	}
  }
}

.theme-dark {
  .form-group {
	&__input {
	  border-color: #373737;
	  background-color: #333;
	}
	
	&.form-group--complete .form-group__input {
	  border-color: #3BC363;
	}
	
	&.form-group--error .form-group__input {
	  border-color: #E74B4D;
	}
	
	&__radio-text {
	  border: 1px solid #524b6e;
	  
	  &:hover {
		border-color: #4259E9;
	  }
	}
	
	.form-group__radio-input:checked + .form-group__radio-text {
	  background-color: #4259E9;
	  border-color: #4259E9;
	  color: #fff;
	}
  }
}