.info-card {
  background-color: $color-bg2;
  padding: 12px 16px;
  border-radius: 8px;
  
  &__top {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	margin-bottom: 12px;
  }
  
  &__title-box {
  }
  
  &__title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
  }
  
  &__description {
	font-size: 12px;
	line-height: 1.2;
	color: $color-text2;
  }
  
  &__icon-box {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #F7F7FA;
	
	.info-card--red & {
	  color: #E74B4D;
	}
	
	.info-card--violet & {
	  color: #856CEF;
	}
	
	.info-card--blue & {
	  color: #4259E9;
	}
	
	.info-card--navy & {
	  color: #39B6D0;
	}
  }
  
  &__icon {
	display: block;
	max-width: 20px;
	max-height: 20px;
  }
  
  &__value {
	margin-bottom: 12px;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -.02em;
	
	.info-card--red & {
	  color: #E74B4D;
	}
	
	.info-card--violet & {
	  color: #856CEF;
	}
	
	.info-card--blue & {
	  color: #4259E9;
	}
	
	.info-card--navy & {
	  color: #39B6D0;
	}
  }
  
  &__bottom {
	display: flex;
	align-items: center;
	gap: 4px;
  }
  
  &__text {
	font-size: 12px;
	line-height: 1;
  }
  
  &__text-value {
	display: inline-flex;
	align-items: center;
	padding: 2px 5px;
	border-radius: 2px;
	font-size: 10px;
	line-height: 1.2;
	font-weight: 600;
	color: #4259E9;
 
	&--navy {
	  color: #39B6D0;
	}
 
	&--red {
	  color: #E74B4D;
	}
 
	&--green {
	  color: #3BC363;
	}
  }
  
  &__text-icon {
	flex-shrink: 0;
	display: block;
	width: 10px;
	height: 10px;
	
	.info-card__text-value--green & {
	  transform: scaleY(-1);
	}
  }
}

// theme
.theme-light {
  .info-card {
	&__text-value {
	  background-color: #E2E8FF;
	  
	  &--navy {
		background-color: #E2F7FC;
	  }
	  
	  &--red {
		background-color: #FFE4E9;
	  }
	  
	  &--green {
		background-color: #ECF9EA;
	  }
	}
  }
}

.theme-dark {
  .info-card {
	&--red {
	  .info-card__icon-box {
		background-color: #503131;
	  }
	}
	
	&--violet {
	  .info-card__icon-box {
		background-color: #3D3852;
	  }
	}
	
	&--blue {
	  .info-card__icon-box {
		background-color: #2F3451;
	  }
	}
	
	&--navy {
	  .info-card__icon-box {
		background-color: #2D464B;
	  }
	}
 
 
	&__text-value {
	  background-color: #2F3350;
	
	  &--navy {
		background-color: #2D464B;
	  }
	
	  &--red {
		background-color: #503131;
	  }
	
	  &--green {
		background-color: #2D4935;
	  }
	}
  }
}