.label {
  display: inline-flex;
  align-items: center;
  border: none;
  padding: 4px 8px 3px 8px;
  border-radius: 32px;
  background-color: $color-bg2;
  color: $color-text2;
  user-select: none;
  
  &--red {
	background-color: #FFE4E9;
	color: #E74B4D;
  }
  
  &--blue {
	background-color: #E2E8FF;
	color: #4259E9;
  }
  
  &--violet {
	background-color: #E1DAFF;
	color: #856CEF;
  }
  
  &--navy {
	background-color: #D9F0F5;
	color: #39B6D0;
  }
  
  &--dark-violet {
	background-color: #C2BAF9;
	color: #616C7A;
  }
  
  &__text {
	font-size: 12px;
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  &__icon {
	flex-shrink: 0;
	display: block;
	width: 16px;
	height: 16px;
  }
  
  &__close {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14px;
	height: 14px;
	margin-left: 2px;
	padding: 0;
	border: none;
	border-radius: 50%;
	background-color: rgba(#fff, .3);
	transition: background-color $transition-default, color $transition-default;
	color: inherit;
	
	&:hover {
	  background-color: #fff;
	  color: $color-text1;
	}
  }
  
  &__close-icon {
	display: block;
	width: 100%;
	height: 100%;
  }
}