.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 777;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: opacity $transition-default;
  background-color: rgba(#fff, .2);
  backdrop-filter: blur(2px);
  
  &__container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
  }
  
  &--show {
	opacity: 1;
  }
  
  &__window {
	opacity: 0;
	transform: translateY(20%);
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	margin: auto;
	padding: 24px;
	border-radius: 8px;
	background-color: $color-bg2;
	box-shadow: $shadow;
	transition: opacity $transition-default, transform $transition-default;
	
	.modal--info & {
	  max-width: 400px;
	}
 
	.modal--detail & {
	  max-width: 880px;
	  height: 100vh;
	  transform: translateX(100%);
	  margin: 0 0 0 auto;
	  border-radius: 0;
	}
	
	.modal--help & {
	  max-width: 736px;
	}
 
	.modal--show & {
	  opacity: 1;
	  transform: none;
	}
  }
  
  &__content-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  }
  
  &__content-wrap {
	height: 100%;
	overflow-y: auto;
  }
  
  &__header {
	margin-bottom: 24px;
	padding-bottom: 14px;
	border-bottom: 1px solid $color-border;
  }
  
  &__header-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
  }
  
  &__title-box {
	display: flex;
	flex-direction: column;
	gap: 8px;
  }
  
  &__title {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 24px;
	line-height: 1;
	font-weight: 700;
  }
  
  &__title-icon {
	flex-shrink: 0;
	display: block;
	width: 24px;
	height: 24px;
  }
  
  &__subtitle {
	font-size: 14px;
	line-height: 1;
	color: $color-text2;
  }
  
  &__close {
	margin-left: auto;
	display: block;
	width: 32px;
	height: 32px;
	margin-right: -8px;
	padding: 0;
	border: none;
	background-color: transparent;
	color: $color-text1;
	transition: color $transition-default;
	
	&:hover {
	  color: $color-text2;
	}
  }
  
  &__close-icon {
	display: block;
	width: 24px;
	height: 24px;
  }
  
  &__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
	margin-top: 24px;
	padding-top: 24px;
	border-top: 1px solid $color-border;
  }
  
  &__footer-text {
	font-size: 20px;
	line-height: 1;
	font-weight: 700;
  }
  
  &__img {
	.modal--info & {
	  display: block;
	  width: 60px;
	  height: 60px;
	  margin: 0 auto 32px;
	}
  }
  
  &__title-text {
	.modal--info & {
	  margin-bottom: 16px;
	  font-size: 24px;
	  line-height: 1;
	  font-weight: 700;
	  text-align: center;
	}
  }
  
  &__text {
	.modal--info & {
	  margin-bottom: 32px;
	  font-size: 14px;
	  line-height: 1.2;
	  text-align: center;
	}
  }
  
  &__btn-box {
	display: flex;
	gap: 8px;
	
	.modal--info & {
	  flex-direction: column;
	  min-width: 90px;
	  margin: 0 auto
	}
  }
  
  &__link {
	padding: 0;
	border:none;
	background-color: transparent;
	font-size: 12px;
	line-height: 1.2;
	color: #4259E9;
	
	&:hover {
	  text-decoration: underline;
	}
  }
}

// theme
.theme-light {
  .modal {
  }
}

.theme-dark {
  .modal {
  }
}