.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 777;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: opacity $transition-default;
  background-color: rgba(#fff, .2);
  backdrop-filter: blur(2px);
  
  &__container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
  }
  
  &--show {
	opacity: 1;
  }
  
  &__window {
	opacity: 0;
	transform: translateY(20%);
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	padding: 24px 0;
	border-radius: 8px;
	background-color: $color-bg2;
	box-shadow: 0 1px 4px #C1C2CB, 0 24px 48px rgba(#C1C4D4, .5);
	transition: opacity $transition-default, transform $transition-default;
	
	.modal--show & {
	  opacity: 1;
	  transform: none;
	}
	
	.modal--info & {
	  max-width: 400px;
	}
  }
  
  &__content-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding: 0 24px;
  }
  
  &__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
  }
  
  
  &__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 600;
  }
  
  &__close {
	margin-left: auto;
	display: block;
	width: 32px;
	height: 32px;
	padding: 0;
	border: none;
	background-color: transparent;
	color: $color-text1;
	transition: color $transition-default;
	
	&:hover {
	  color: $color-text1;
	}
  }
  
  &__close-icon {
	display: block;
	width: 100%;
	height: 100%;
  }
  
  &__img {
	.modal--info & {
	  display: block;
	  width: 60px;
	  height: 60px;
	  margin: 0 auto 32px;
	}
  }
  
  &__title-text {
	.modal--info & {
	  margin-bottom: 16px;
	  font-size: 24px;
	  line-height: 1;
	  font-weight: 700;
	  text-align: center;
	}
  }
  
  &__text {
	.modal--info & {
	  margin-bottom: 32px;
	  font-size: 14px;
	  line-height: 1.2;
	  text-align: center;
	}
  }
  
  &__btn-box {
	display: flex;
	gap: 8px;
	
	.modal--info & {
	  flex-direction: column;
	  min-width: 90px;
	  margin: 0 auto
	}
  }
  
  &__link {
	padding: 0;
	border:none;
	background-color: transparent;
	font-size: 12px;
	line-height: 1.2;
	color: #4259E9;
	
	&:hover {
	  text-decoration: underline;
	}
  }
}

// theme
.theme-light {
  .modal {
  }
}

.theme-dark {
  .modal {
  }
}