.table {
  width: 100%;
  border: 1px solid #E2E7F0;
  border-radius: 4px;
  overflow: hidden;
  border-collapse: separate;
  font-size: 14px;
  line-height: 1.2;
  color: $color-text2;
  text-align: left;
  
  &__head {
  }
  
  &__row {
	&:nth-child(even) {
	  .table__cell {
		background-color: #F7F7FA;
		border: solid #E2E7F0;
		border-width: 1px 0 1px 0;
	  }
	}
	
	&:last-child {
	  .table__cell {
		border-width: 0 !important;
	  }
	}
  }
  
  &__cell {
	padding: 15px 12px;
	vertical-align: middle;
	
	.table__head & {
	  background-color: #F7F7FA;
	  border-bottom: 1px solid #E2E7F0;
	  font-size: 14px;
	  line-height: 16px;
	  font-weight: 600;
	  white-space: nowrap;
	  color: $color-text1;
	}
  }
  
  &__cell-wrap {
	display: inline-flex;
	align-items: center;
	gap: 4px;
  }
  
  &__checkbox {
  }
  
  &__sort-btn {
	display: block;
	width: 16px;
	height: 16px;
	padding: 0;
	border: none;
	background-color: transparent;
  }
  
  &__sort-btn-icon {
	display: block;
	width: 100%;
	height: 100%;
  }
  
  &__link {
	display: block;
	max-width: 220px;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	color: $color-text1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: underline;
	
	&:hover {
	  text-decoration: none;
	}
  }
  
  &__blue-link {
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.2;
	color: #4259E9;
	text-decoration: underline;
	transition: color $transition-default;
	
	&:hover {
	  color: $color-text1;
	}
  }
  
  &__actions {
	display: flex;
	gap: 4px;
	
	.button {
	  &:only-child {
		width: 100%;
	  }
	}
  }
  
  &__strong {
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	color: $color-text1;
  }
}