.theme-switcher {
  position: relative;
  z-index: 0;
  display: inline-block;
  border: 1px solid $color-border;
  border-radius: 8px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  transition: border-color $transition-default;
  
  &:hover {
	border-color: #4259E9;
  }
  
  &__theme {
	display: none;
	align-items: center;
	gap: 8px;
	padding: 10px 11px;
  }
  
  &__icon {
	flex-shrink: 0;
	display: block;
	width: 16px;
	height: 16px;
  }
}


// theme
.theme-light {
  .theme-switcher {
	&__theme {
	  &--light {
		display: inline-flex;
	  }
	}
  }
}

.theme-dark {
  .theme-switcher {
	&__theme {
	  &--dark {
		display: inline-flex;
	  }
	}
  }
}