*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: $color-bg1;
  min-width: 1440px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

button {
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

