/* Для вебкит-браузеров (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $color-text2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-text2;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-text2 transparent;
}

/* Для старых версий Firefox (если нужно) */
* {
  scrollbar-face-color: $color-text2;
  scrollbar-track-color: transparent;
  scrollbar-width: thin;
}