body {
  font-family: $font-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  color: $color-text1;
}

input, button, textarea {
  font-family: inherit;
}

.color-red {
  color: #E74B4D;
}

.color-green {
  color: #3BC363;
}

.color-orange {
  color: #F89445;
}

.text-with-dot {
  position: relative;
  padding-left: 12px;
  
  &::before {
	flex-shrink: 0;
	display: block;
	position: absolute;
	top: 50%;
	top: .5lh;
	left: 0;
	transform: translateY(-50%);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-right: 5px;
	background-color: currentColor;
	content: "";
  }
  
  &--red {
	&::before {
	  background-color: #E74B4D;
	}
  }
  
  &--green {
	&::before {
	  background-color: #3BC363;
	}
  }
}

