mixin pagination()
    // pagination
    .pagination
        p.pagination__text Показано 1-7 из 15 доменов
        .pagination__nav-box
            button.pagination__btn(type="button" disabled) < предыдущая
            span.pagination__pages 1 из 2
            button.pagination__btn(type="button") следующая >