include mixins/svg
include mixins/picture

include common-blocks/header
include common-blocks/sidebar
include common-blocks/filter
include common-blocks/filter2
include common-blocks/filter3
include common-blocks/pagination
include common-blocks/card1
include common-blocks/card2
include common-blocks/card3
include common-blocks/card4
include common-blocks/card5