// modal detail
#modal-detail.modal.modal-detail.modal--detail
    .modal__container
        .modal__window
            .modal__header
                .modal__header-box
                    .modal__title-box
                        p.modal__title
                            +svg("puzzle").modal__title-icon
                            | Детали нарушения
                        p.modal__subtitle ID: domain1
                    button.modal__close.js-close-modal(type="button", aria-label="Закрыть")
                        +svg("close").modal__close-icon
            .modal__content-box
                .modal__content-wrap
                    .modal-detail__content
                        .modal-detail__card-grid
                            // card
                            .modal-detail__card.modal-detail__card--red
                                +svg("close-circle").modal-detail__card-icon
                                .modal-detail__card-text-box
                                    p.modal-detail__card-text Статус:
                                    p.modal-detail__card-value Заблокирован  - 12.03.2025
                            // card
                            .modal-detail__card.modal-detail__card--violet
                                +svg("wave-high").modal-detail__card-icon
                                .modal-detail__card-text-box
                                    p.modal-detail__card-text Риск нарушения:
                                    p.modal-detail__card-value Высокий
                        // panel
                        .modal-detail__panel
                            p.modal-detail__panel-title
                                +svg("file-document").modal-detail__panel-title-icon
                                | Основная информация
                            .modal-detail__data-list
                                .modal-detail__data-col
                                    p.modal-detail__data-text Ссылка на нарушение:
                                    a.modal-detail__data-link(href="#") Ссылка
                                .modal-detail__data-col
                                    p.modal-detail__data-text Найдено:
                                    p.modal-detail__data-value 14.04.2025
                                .modal-detail__data-col
                                    p.modal-detail__data-text Канал:
                                    p.modal-detail__data-value company.com
                                .modal-detail__data-col
                                    p.modal-detail__data-text  Участники
                                    p.modal-detail__data-value 2Л
                                .modal-detail__data-col
                                    p.modal-detail__data-text Домен создан:
                                    p.modal-detail__data-value 14.04.2025
                            .modal-detail__data-list
                                .modal-detail__data-col
                                    p.modal-detail__data-text Скриншот нарушения:
                                    a.modal-detail__data-link(href="#") ссылка
                                .modal-detail__data-col
                                    p.modal-detail__data-text Скриншот сделан:
                                    p.modal-detail__data-value 14.04.2025
                            .modal-detail__data-cite
                                p.modal-detail__data-cite-title Текст нарушения:
                                p.modal-detail__data-cite-text Has anyone seen the new DRP platform from SecureWatch?
                                    br
                                    | Looks interesting for enterprise securityHas anyone seen the new DRP platform from SecureWatch? Looks interesting for enterprise security
                        // panel
                        .modal-detail__panel
                            p.modal-detail__panel-title
                                +svg("clock").modal-detail__panel-title-icon
                                | Хронология действий
                            .modal-detail__road
                                .modal-detail__road-row
                                    +svg("road-check").modal-detail__road-icon.modal-detail__road-icon--green
                                    p.modal-detail__road-text Обнаружено
                                    p.modal-detail__road-value  14:15  14.05.2025
                                .modal-detail__road-row
                                    +svg("road-check").modal-detail__road-icon.modal-detail__road-icon--green
                                    p.modal-detail__road-text Отправлено уведомление
                                    p.modal-detail__road-value  18:15  14.05.2025
                                .modal-detail__road-row
                                    +svg("road-check").modal-detail__road-icon.modal-detail__road-icon--green
                                    p.modal-detail__road-text Отправлено уведомление повторно
                                    p.modal-detail__road-value 1 час назад
                                .modal-detail__road-row
                                    +svg("road-empty").modal-detail__road-icon
                                    p.modal-detail__road-text Удаление/блокировка/согласование
                                    p.modal-detail__road-value Ожидает
                        // panel
                        .modal-detail__panel
                            p.modal-detail__panel-title
                                +svg("clock").modal-detail__panel-title-icon
                                | Действия
                            .modal-detail__panel-action-list
                                button.button.button--outline-hover-green
                                    +svg("check").button__icon
                                    | Согласовать
                                button.button.button--outline-hover-red
                                    +svg("close").button__icon
                                    | Отклонить
                                button.button.button--outline-hover-blue
                                    +svg("copy").button__icon
                                    | Открыть внешне
                                button.button.button--outline-hover-blue
                                    +svg("link-external").button__icon
                                    | Копировать ссылку