// modal error
#modal-error.modal.modal--info
    .modal__container.container
        .modal__window
            .modal__content-box
                img.modal__img(src="/images/modals/error.svg")
                p.modal__title-text Внимание!
                p.modal__text Тут текст! Мы рады!
                    br
                    |Перейдите к настройки брендов для поиска доменов.
                .modal__btn-box
                    button.button.button--blue.js-close-modal Закрыть
                    button.modal__link.js-close-modal Закрыть