// modal ghost
#modal-ghost.modal.modal--info
    .modal__container.container
        .modal__window
            .modal__content-box
                img.modal__img(src="/images/modals/ghost.svg")
                p.modal__title-text Произошла ошибка!
                p.modal__text Приносим извинения за неудобства. Ведутся технические работы! Сервис временно не доступен!
                .modal__btn-box
                    button.button.button--blue.js-close-modal Закрыть
                    button.modal__link.js-close-modal Закрыть