// modal help
#modal-help.modal.modal-help.modal--help
    .modal__container
        .modal__window
            .modal__header
                .modal__header-box
                    .modal__title-box
                        p.modal__title
                            button.modal-help__back-btn(aria-label="Назад")
                                +svg("chevron-down").modal-help__back-btn-icon
                            |Помощь и поддержка
                    button.modal__close.js-close-modal(type="button", aria-label="Закрыть")
                        +svg("close").modal__close-icon
                .modal__header-box.modal-help__search
                    .form-group.form-group--search.modal-help__search-el
                        .form-group__input-box
                            .form-group__action-btn
                                +svg("search").form-group__action-icon
                            input.form-group__input.form-group__input--sm(type="search", placeholder="Введите поисковой запрос...")
            .modal__content-box
                .modal__content-wrap
                    .modal-help__content-nav
                        .modal-help__block
                            p.modal-help__title Общие вопросы
                            ul.modal-help__list
                                li.modal-help__list-el.modal-help__list-el--opened
                                    .modal-help__list-el-content
                                        +svg("chevron-down").modal-help__list-el-icon
                                        | Восстановление доступа
                                    ul.modal-help__sublist
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Изменилась корпоративная почта
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Потеряли логин или пароль
                                li.modal-help__list-el.modal-help__list-el--opened
                                    .modal-help__list-el-content
                                        +svg("chevron-down").modal-help__list-el-icon
                                        | Контакты
                                    ul.modal-help__sublist
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Как написать в службу поддержки?
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Как позвонить в службу поддержки?
                        .modal-help__block
                            p.modal-help__title Инструкции
                            ul.modal-help__list
                                li.modal-help__list-el.modal-help__list-el--opened
                                    .modal-help__list-el-content
                                        +svg("chevron-down").modal-help__list-el-icon
                                        | Как скачать файл со статистикой?
                                    ul.modal-help__sublist
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Текст
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Текст
                                li.modal-help__list-el
                                    .modal-help__list-el-content
                                        +svg("chevron-down").modal-help__list-el-icon
                                        | Текст
                                    ul.modal-help__sublist
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Текст
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Текст
                                li.modal-help__list-el
                                    .modal-help__list-el-content
                                        +svg("chevron-down").modal-help__list-el-icon
                                        | Текст
                                    ul.modal-help__sublist
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Текст
                                        li.modal-help__sublist-el
                                            +svg("file-document").modal-help__sublist-el-icon
                                            | Текст
                    .modal-help__content-slide
                        p.modal-help__slide-title Как пользоваться системой в другой стране?
                        p.modal-help__slide-text Данное лицензионное соглашение конечного пользователя "EULA" (End-User License Agreement) представляет собой законное соглашение между вами ("Покупатель" или "Сублицензиат") и компанией Alt-N Technologies ("Лицензиат") в отношении устанавливаемого вами программного продукта (продуктов) компании Alt-N, куда входит "онлайновая" или электронная документация, а также могут входить соответствующие носители и печатные материалы ("ПРОГРАММНЫЙ ПРОДУКТ" или
                            |
                            |
                            a.modal-help__slide-link.modal-help__slide-link--blue(href="#") "ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ"
                            |).
                        img.modal-help__slide-img(src="/images/modals/img.png", alt="")
                        p.modal-help__slide-text Данное лицензионное соглашение конечного пользователя "EULA" (End-User License Agreement) представляет собой законное соглашение между вами ("Покупатель" или "Сублицензиат") и компанией Alt-N Technologies ("Лицензиат") в отношении устанавливаемого вами программного продукта (продуктов) компании Alt-N, куда входит "онлайновая" или электронная документация, а также могут входить соответствующие носители и печатные материалы ("ПРОГРАММНЫЙ ПРОДУКТ" или
                            |
                            |
                            a.modal-help__slide-link(href="#") "ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ"
                            | ).
            .modal__footer
                p.modal__footer-text Если остались вопросы или нужна помощь
                button.button.button--blue.button--round
                    +svg("mail-open").button__icon
                    |Написать нам
