// modal smile
#modal-smile.modal.modal--info
    .modal__container.container
        .modal__window
            .modal__content-box
                img.modal__img(src="./images/modals/smile.svg")
                p.modal__title-text Хорошие новости!
                p.modal__text На данной площадке нет нарушений по авшему бренду!
                .modal__btn-box
                    button.button.button--blue.js-close-modal Закрыть
                    button.modal__link.js-close-modal Закрыть