extends pug/auth

block content
    .auth
        .auth__grid
            .auth__bg-col(style="background-image: url('./images/auth-bg2.png');")
                +svg("logo").auth__bg-logo
                .auth__bg-bottom
                    // group
                    .label-group.auth__bg-labels
                        .label.label--dark-violet
                            span.label__text #Банкинг
                        .label.label--dark-violet
                            span.label__text #Фишинг
                        .label.label--dark-violet
                            span.label__text #Утечки
                    p.auth__bg-title Добро пожаловать в систему клиента Brandsecurity
                    p.auth__bg-text Copyright © Brandsecurity 2024
            .auth__form-col
                .auth__form-wrap
                    .auth__form-title-box
                        p.auth__form-title Восстановление пароля
                    form.auth__form-box
                        // group
                        .form-group.auth__form-group
                            .form-group__title-box
                                p.form-group__title Введите ваш Email
                            .form-group__input-box
                                input.form-group__input(type="email", placeholder="E-mail")
                                button.form-group__action-btn(aria-label="Очистить", type="button")
                                    +svg("close").form-group__action-icon
                        .auth__form-action-box
                            a.auth__form-reset-link(href="#") Сбросить
                            button.button.button--black.auth__form-submit-btn(type="submit") Отправить

                .auth__form-bottom
                    a.auth__form-call-link(href="#") Связаться с нами


