extends pug/base
    
append styles
    style.
        .list-page {
            font-size: 20px;
            font-weight: 500;
            color: var(--color-text1);
            text-align: center;
            text-transform: uppercase;
        }

        .list-page ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

block content
    .list-page.container
        ul
            li
                a(href="./ui.html", target="_blank") UI
            li
                a(href="./login.html", target="_blank") Логин
            li
                a(href="./forgot.html", target="_blank") Восстановление пароля
            li
                a(href="./cp.html", target="_blank") Панель управления
            li
                a(href="./lk.html", target="_blank") Личный кабинет
            li
                a(href="./password.html", target="_blank") Смена пароля
            li
                a(href="./reports.html", target="_blank") Отчёты
            li
                a(href="./white-list.html", target="_blank") Белый список

