extends pug/cp

block content
    .lk
        .container.lk__container
            .lk__panel.lk__panel--center
                .lk__header
                    p.lk__header-title Смена пароля
                    button.lk__close(type="button", aria-label="Закрыть")
                        +svg("close").lk__close-icon
                form.lk__form
                    .lk__input-box
                        // group
                        .form-group
                            .form-group__title-box
                                p.form-group__title Старый
                            .form-group__input-box
                                button.form-group__action-btn(aria-label="Очистить")
                                    +svg("close").form-group__action-icon
                                input.form-group__input(type="text", value="М-видео")
                            span.form-group__note пояснительный текст
                        // group
                        .form-group
                            .form-group__title-box
                                p.form-group__title Новый
                            .form-group__input-box
                                button.form-group__action-btn(aria-label="Очистить")
                                    +svg("close").form-group__action-icon
                                input.form-group__input(type="text", value="М-видео")
                            span.form-group__note пояснительный текст
                        // group
                        .form-group
                            .form-group__title-box
                                p.form-group__title Подтверждение
                            .form-group__input-box
                                button.form-group__action-btn(aria-label="Очистить")
                                    +svg("close").form-group__action-icon
                                input.form-group__input(type="text", value="М-видео")
                            span.form-group__note пояснительный текст
                    .lk__form-submit-box
                        button.button.button--blue.button--round(type="submit") Сохранить изменения