$color-bg1: var(--color-bg1);
$color-bg2: var(--color-bg2);

$color-text1: var(--color-text1);
$color-text2: var(--color-text2);

$color-border: var(--color-border);

$shadow: 0 1px 4px #C1C2CB, 0 24px 48px rgba(#C1C4D4, .5);